.que.lcspeech {
    font-family: 'Roboto', sans-serif;
}

.que.lcspeech .audio-widget {
    display: inline-flex;
    margin: 2px 0;
    width: 20em;
    max-width: 100%;
}

.que.lcspeech .audio-widget .no-recording-placeholder {
    flex-grow: 1;
    padding-top: 0.45em;
}

.que.lcspeech .audio-widget .media-player {
    flex-grow: 1;
}

.que.lcspeech .audio-widget .media-player audio {
    height: 2.437em;
    vertical-align: -0.8em;
    width: 100%;
    max-width: 100%;
}

.que.lcspeech .audio-widget .record-button {
    margin-left: 4px;
}

.que.lcspeech .audio-widget button {
    white-space: nowrap;
    margin-right: 0;
}

.que.lcspeech .audio-widget a {
    white-space: nowrap;
    line-height: 2.437em;
}

.que.lcspeech .audio-widget .download-icon {
    vertical-align: middle;
    margin-right: 2px;
}

.que.lcspeech .audio-widget .download-icon {
    vertical-align: middle;
    margin-right: 2px;
}

.que.lcspeech .no-recording-placeholder {
    color: #676463;
    background-color: #f0f0f1;
    text-align: center;
}

.que.lcspeech .download-icon {
    height: 28px;
    width: 28px;
}

body#page-question-type-lcspeech.path-question-type .form-group[data-groupname=timelimitinseconds] .sr-only {
    display: none;
}

.que.lcspeech .qtype_lcspeech_file {
    /* margin-bottom: 3rem; */
    color: black;
}

.que.lcspeech .qtype_lcspeech_correct_audio {
    color: #212529;
    margin-bottom: 19px;
    font-weight: bold;
}

.que.lcspeech .qtype_lcspeech_average_score {
    color: #212529;
    margin: 19px 0 19px 0;
    /* font-weight: bold; */
}

.que.lcspeech .qtype_lcspeech_words {
    margin-top: 1rem;
}

.que.lcspeech .qtype_lcspeech_word {
    display: inline-block;
    margin-right: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #e9ecef;
    color: black;
}

.que.lcspeech .qtype_lcspeech_word_label {
    font-weight: bold;
    margin-bottom: 1rem;
}

.que.lcspeech .qtype_lcspeech_phonemes {
    display: flex;
    flex-direction: row;
}

.que.lcspeech .qtype_lcspeech_phoneme {
    margin-right: 1rem;
}

.que.lcspeech .qtype_lcspeech_phoneme:last-child {
    margin-right: 0;
}

.que.lcspeech .qtype_lcspeech_phoneme_label {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.que.lcspeech .qtype_lcspeech_phoneme_label_red {
    background-color: #F0776D;
}

.que.lcspeech .qtype_lcspeech_phoneme_label_orange {
    background-color: #F2BF3B;
}

.que.lcspeech .qtype_lcspeech_phoneme_label_green {
    background-color: #599F44;
}

.que.lcspeech .qtype_lcspeech_phoneme_score {
    text-align: center;
}

.que.lcspeech .custom-feedback-range label.col-form-label {
    width: 100% !important;
    display: inline-block;
}

.que.lcspeech .custom-feedback-range input,
.que.lcspeech .custom-feedback-range span {
    width: 100% !important;
}

.que.lcspeech .custom-feedback-range {
    margin-bottom: 15px;
}

.que.lcspeech .form-group.fitem.custom-feedback-range {
    width: 50%;
    margin: 0 0 15px !important;
    padding: 0 10px;
}

.que.lcspeech .custom-feedback-textarea {
    width: calc(100% - 20px);
    margin: 0 10px;
}

.que.lcspeech .custom-feedback-range+label.accesshide {
    position: relative;
    height: auto;
    width: auto;
    padding: 0 10px;
}

.que.lcspeech .correction-audio-select {
    padding-bottom: 20px;
}

.que.lcspeech .custom-media .mediaplugin>div {
    margin: 0 !important;
}

.que.lcspeech p.note {
    background-color: #f0f7fb;
    border-left: solid 4px #3498db;
    line-height: 18px;
    mc-auto-number-format: '{b}Note: {/b}';
    overflow: hidden;
    padding: 5px 12px;
    font-size: 80% !important;
    font-weight: 400 !important;
}

.que.lcspeech .cbtn {
    width: 100% !important;
    text-align: left !important;
    position: relative !important;
    padding: 5px 25px 5px 0 !important;
    color: #000000 !important;
    display: flex !important;
    align-items: center;
}

.que.lcspeech .cbtn:after {
    position: absolute !important;
    right: 10px !important;
    content: '' !important;
    display: block !important;
    width: 10px !important;
    height: 10px !important;
    border-left: 3px solid #000000;
    border-bottom: 3px solid #000000;
    transform: rotate(315deg);
    margin: 0 10px 4px 1px;
}

.que.lcspeech .cbtn[aria-expanded="true"]:after {
    transform: rotate(135deg);
}

.que.lcspeech .cbtn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.que.lcspeech .outcome {
    background-color: #fcfcfc !important;
    border-color: #fcfcfc !important;
}

.que.lcspeech .qtext p {
    font-size: 18px;
    font-weight: bold;
}

.que.lcspeech #id_score_feedback {
    display: none;
}

.que.lcspeech #id_audio_upload {
    display: none;
}

.que.lcspeech .fb-main {
    border-left: 3px #0fa1bfe3 solid;
    padding-left: 5px;
}

.que.lcspeech .fb-title-container {
    border-bottom: 1px solid #00000040;
    margin-bottom: 10px;
}

.que.lcspeech .metadata-card {
    border-left: 3px #0056B3 solid !important;
    padding: 20px;
    margin-bottom: 15px;
}

.que.lcspeech .metadata-card div:nth-child(1) {
    margin-bottom: 10px;
}

.que.lcspeech .metadata-card div:nth-child(2) {
    color: #212529;
    background-color: #F8F9FA;
    padding: 12px;
}

.que.lcspeech .feedback-card {
    border-left: 3px #0056B3 solid !important;
    padding: 20px;
    margin-bottom: 15px;
}

.que.lcspeech .feedback-card div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.que.lcspeech .feedback-card div:nth-child(1) span:nth-child(2) {
    color: #0056B3;
    font-weight: bold;
}

.que.lcspeech .feedback-card div:nth-child(2) {
    color: #212529;
    background-color: #F8F9FA;
    margin-top: 10px;
    padding: 12px;
}

.que.lcspeech .nav-tabs {
    gap: 0.25rem;
}

.que.lcspeech .nav-link:focus {
    position: relative;
}

.que.lcspeech .metadata-table {
    font-size: 15px;
}

.que.lcspeech .metadata-table th {
    border: 1px solid #DEE2E6;
    text-align: center;

}

.que.lcspeech .metadata-table th:nth-last-child(-n+1) {
    border: 1px solid #DEE2E6;
    text-align: center;
    color: #0056B3;
}

.que.lcspeech .metadata-table td {
    border: 1px solid #DEE2E6;
    text-align: center;
    font-weight: bold;
}

.que.lcspeech .metadata-table td:nth-last-child(-n+1) {
    border: 1px solid #DEE2E6;
    text-align: center;
    font-weight: bold;
    color: #0056B3;
}

.que.lcspeech .section-header {
    font-weight: bold;
    font-size: 18px;
}

.que.lcspeech .comlexity_label_COMPLEX {
    background-color: #CA3120;
    color: white !important;
    padding: 2px 8px 2px 8px;
    border-radius: 15px;
    font-weight: normal !important;
}

.que.lcspeech .comlexity_label_AVERAGE {
    background-color: #F0AD4E;
    color: white !important;
    padding: 2px 8px 2px 8px;
    border-radius: 15px;
    font-weight: normal !important;
}


.que.lcspeech .comlexity_label_RELEVANT {
    background-color: #357A32;
    color: white !important;
    padding: 2px 8px 2px 8px;
    border-radius: 15px;
    font-weight: normal !important;
}

.que.lcspeech .comlexity_label_PARTIALLY_RELEVANT {
    background-color: #F0AD4E;
    color: white !important;
    padding: 2px 8px 2px 8px;
    border-radius: 15px;
    font-weight: normal !important;
}

.que.lcspeech .comlexity_label_NO_RELEVANT {
    background-color: #CA3120;
    color: white !important;
    padding: 2px 8px 2px 8px;
    border-radius: 15px;
    font-weight: normal !important;
}

.que.lcspeech .comlexity_label_NOT_RELEVANT {
    background-color: #CA3120;
    color: white !important;
    padding: 2px 8px 2px 8px;
    border-radius: 15px;
    font-weight: normal !important;
}

.que.lcspeech .comlexity_label_SIMPLE {
    background-color: #357A32;
    color: white !important;
    padding: 2px 8px 2px 8px;
    border-radius: 15px;
    font-weight: normal !important;
}

.que.lcspeech .box-border {
    border: 1px solid #DEE2E6;
    border-radius: 5px;
}

.que.lcspeech .bold-text {
    font-weight: bold;
    color: #212529
}

.que.lcspeech .speaking-score-mock {
    float: right;
    color: black;
    font-size: 14px;
    padding-top: 10px;
}

/* fluency feedbacl transcript*/
.que.lcspeech .c-feedback {
    border-radius: 50%;
    width: 22px;
    height: 22px;
    color: black;
    text-align: center;
    font: 14px Arial, sans-serif;
    line-height: 21px;
    font-weight: bold;
    display: inline-block !important;
    margin-right: 10px;
}
.que.lcspeech .discourse-marker {
	background: #CDD7FF;
}
.que.lcspeech .word-repetition {
	background: #AEF3FE;
}
.que.lcspeech .filler-word {
	background: #FDDBB2;
}
.que.lcspeech .speech-pause {
	background: #FFD3D9;
}

.que.lcspeech discourse-marker {
	background: #CDD7FF;
    position: relative;
}
.que.lcspeech word-repetition {
	background: #AEF3FE;
    position: relative;
}
.que.lcspeech filler-word {
	background: #FDDBB2;
    position: relative;
}
.que.lcspeech speech-pause {
	background: #FFD3D9;
    position: relative;
}

.que.lcspeech .t-tooltips span {
  display: none;
  left: 0;
}

.que.lcspeech .t-tooltips:hover span {
  display: block;
  position: absolute;
  bottom: 1.5em;
  padding: 0.5em;
  color: #000000;
  background: #ffffff;
  border: 0.1em solid #80808026;
  border-radius: 0.5em;
  max-width: 30em;
  min-width: 14em;
  box-shadow: 5px 5px 5px #80808052;
}

.que.lcspeech .t-tooltips span .t-title {
	padding: 5px 0px 0px 10px;
	color: #637381;
	line-height: 150%;
	font-weight: 400;
}

.que.lcspeech .t-tooltips span .t-content {
    padding: 5px 0px 5px 10px;
    line-height: 150%;
    font-weight: bold;
}

.que.lcspeech .unscript-speaking-table {
    font-size: 15px;
}

.que.lcspeech .unscript-speaking-table th {
    border: 1px solid #DEE2E6;
    text-align: center;

}

.que.lcspeech .unscript-speaking-table th.txt-last {
    border: 1px solid #DEE2E6;
    text-align: center;
    color: #0056B3;
}

.que.lcspeech .unscript-speaking-table td {
    border: 1px solid #DEE2E6;
    text-align: center;
    font-weight: bold;
}

.que.lcspeech .unscript-speaking-table td.txt-last {
    border: 1px solid #DEE2E6;
    text-align: center;
    font-weight: bold;
    color: #0056B3;
}